.container {
	background: url("../../assets/background 3.jpg");
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	padding-right: 20px;
	margin-top: 50px;
}

main h2 {
	color: #ffffff;
	padding-bottom: 24px;
	margin-bottom: 12px;
}

.container-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.font-main {
	font-family: "Roboto", sans-serif;
	font-size: 36px;
	font-weight: 400;
}

.font-main-italic {
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 64px;
	font-weight: 900;
	letter-spacing: -2px;
	background-color: #130633;
	padding: 0 30px;
}

.font-name {
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 86px;
	font-weight: 900;
	letter-spacing: -2px;
}

.ai-center {
	align-items: center;
}

@media only screen and (max-width: 1490px) {
	main {
		width: 90%;
	}

	.container-cards {
		display: flex;
		justify-content: center;
		gap: 15px;
		flex-wrap: wrap;
	}
}
